.flexbox-container{
    display: flex;
    flex-wrap: wrap;
}
.title{
    font-family: "Nunito", sans-serif;
    font-size: 96px;
    text-align: center;
    margin: 0px;
}
h1{
    color: #2E7255;
}
h2{
    color:#FD5430;
}
h3{
    color: #4C8D93;
}
p{
    font-family: "Roboto", serif;
    font-size: 40px;
}
.head{
    border-radius: 73px;
}

ul{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    color: #4C8D93;
    display: inline;
}
li{
    float: left;
    
}
.about-1{
    display: flex;
    gap: 60px;
}
.about-2{
    display: flex;
    gap: 60px;
}
.icons{
    border-radius: 50%;
    
}
.i2{
    order: 2;
    min-width: 463px;
    min-height: 463px;
    left: 976px;
    right: 1408px;
}
.t2{
    text-align: right;
}